html, body {
	height: 100%;
}

body {
	background-color: black;
	color: white;
	font-family: 'Alegreya Sans', sans-serif;
/* start of example css */
  padding-top: 90px;
  padding-bottom: 30px;
}

p {
	line-height: 1.4em;
	font-size: 1.7em;
}

.small-caps {
	font-family: 'Alegreya Sans SC', sans-serif;
}

h1, h2, h3, h4 {
		font-family: 'Alegreya Sans SC', sans-serif;
		color: #337ab7;
}

label {
		font-family: 'Alegreya Sans SC', sans-serif;
}

.blue {
	background-color: #337ab7;
}

.page-header {
	border-bottom: 0px solid black;
}

/*
.page-header .nav{ 
	margin-top: -20px
}

.minor {
	font-family: 'Alegreya Sans', sans-serif;
}
*/

#help {
	text-align: center;
	font-size: 30px;
	font-family: 'Alegreya Sans SC', sans-serif;
	background-color: #a94442;
	border-color: #a94442;
	color: white;
}

.btn-danger {
	background-color: white;
	color: #a94442;
	border-color: #a94442;
	font-size: 30px
}

.navbar {
	font-family: 'Alegreya Sans SC', sans-serif;
	background-color: black;
}

.navbar-collapse {
	padding-top: 20px;	
}
.navbar-default {
	border-color: black;
}
.navbar-header .icon-bar {
	color: #337ab7
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #337ab7;
    background-color: black;
   }

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: #337ab7;
    background-color: transparent;


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}

.media {
	width: 70%;
	margin: auto;
}

@media only screen and (max-width: 500px) {
	#help span {
		display: none;
	}
}

.media-object {
	width: 30%;
}

.media-right img {
	width: 100%;
	height: auto;
}

blockquote p {
	font-size: 1.4em;
}

blockquote span {
	font-family: 'Alegreya Sans SC', sans-serif;
}
#home {
	font-family: 'Alegreya Sans SC', sans-serif;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 30px;
	color: #337ab7;
}

.vert-fill {
	height: 100vh;
}