<!DOCTYPE html>
<html lang="en" ng-app="paranormalApp">
	<head>
		<meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


		<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC' rel='stylesheet' type='text/css'>
 		<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
 		<link rel="stylesheet" type="text/css" href="css/paranormal.css">
	<title>VSS LLC</title>
</head>

<body>
	<div class='container'>
		<header class="page-header small-caps" ng-controller="contactCtrl">
			<ul class="nav nav-pills pull-right h2">
				<li><a href="#">Home</a></li>
				<li><a href="#services">Services</a></li>
				<li><a href="#about">About Us</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
				
			</ul>
			<ul class="nav nav-pills pull-left h2">
				<li><a href="#" ng-click="helpNow()">Need help right now?</a></li>
			</ul>
			<div ng-show="shouldShowContact()">
				Call <a href="tel:1-636-698-8842">555-122-9999</a>
			</div>
		</header>

		<div ng-controller="contactCtrl">
				<div id="call-button" ng-show="shouldShowContact()">
					Call <a href="tel:1-636-698-8842">555-122-9999</a>
				</div>
		</div>


	<div class="jumbotron blue small-caps">
		<h1> Venkman, Spengler, and Stantz, LLC </h1>
		<p class="lead">Professional paranormal investigation and elimination services</p>
	</div>

	<div class="big-divs">
		<h2 id="services">Services</h2>

		<h4>Investigation</h4>
		<p>
			Our team will discretely investigate your home or place of business.
			Cat ipsum dolor sit amet, meowing non stop for food for who's the baby sniff other cat's butt and hang jaw half open thereafter or knock dish off table head butt cant eat out of my own dish. Thinking longingly about tuna brine lounge in doorway and lick arm hair, so poop in litter box, scratch the walls. Spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce swat at dog leave dead animals as gifts, but lounge in doorway. Chew foot chase dog then run away so chase dog then run away then cats take over the world. Thinking longingly about tuna brine mark territory. Meowing non stop for food love to play with owner's hair tie and meow so loves cheeseburgers pooping rainbow while flying in a toasted bread costume in space for hunt by meowing loudly at 5am next to human slave food dispenser but vomit food and eat it again. 

		</p>
		<h4>Elimination</h4>
		<p>
			If it is determined that you do have x, our team then provides elimination services.
			Chase dog then run away. Stick butt in face ignore the squirrels, you'll never catch them anyway thinking longingly about tuna brine, or destroy the blinds. Asdflkjaertvlkjasntvkjn (sits on keyboard) stand in front of the computer screen, attack dog, run away and pretend to be victim so if it fits, i sits meow stare at ceiling. Steal the warm chair right after you get up vommit food and eat it again. Flop over meow so jump around on couch, meow constantly until given food, , yet chase mice, for stare out the window meow. Give attitude. Meowzer!. Missing until dinner time knock dish off table head butt cant eat out of my own dish claw drapes, attack the dog then pretend like nothing happened favor packaging over toy. Plan steps for world domination caticus cuteicus. When in doubt, wash make meme, make cute face see owner, run in terror. Lick butt claws in your leg or make muffins. 
		</p>
	</div>

	<h2 id="about" class="big-divs">About Us</h2>

 <div ng-controller="staffCtrl">
	<div ng-repeat="members in staff">
		<img ng-src="{{staff.picture}}"> 
		<h4>{{staff.name}}</h4>
		<p>{{staff.profile}}</p>
	</div>

<h2><a href="#">Contact Us</a></h2>

	<p></p>

	<form role="form">
		<div ng-controller="formCtrl">
			<div class="form-group">
				<label>Name</label>
				<input type="name" class="form-control" />
			</div>

			<div class="form-group">
				<label>Phone Number</label>
				<input type="name" class="form-control" />
			</div>

			<div class="form-group">
				<label for="email">E-mail</label>
				<input type="email" class="form-control" />
			</div>


			<div>
				<label for="comment">Comments</label>
				<textarea class="form-control" rows="5" id="comment"></textarea>
			</div>
			<button type="submit" class="btn btn-default"> Submit</button>
		
			attach picture
			choose file no file chosen
		</div>
	</form>


<input type="dropdown">




	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	
	
	<script src="js/app.js"></script>
 
	</body>
</html>